<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.mapper.StudentMapper">
    <select id="getlist" resultType="map">
     select * from student 
    </select>
    <insert id="add">
    insert into student set sname=#{sname},age=${age},score=${score},birthday=#{birthday}
    </insert>
    <update id="update">
    
    update student set sname=#{sname},age=${age},score=${score},birthday=#{birthday} where sid=${sid}
    
    </update>
</mapper>